# Importando dados

In [1]:
import pandas as pd
import math
import random

In [2]:
df = pd.read_csv("../data/cmc.data.csv")
df.head()

   24  2  3  3.1  1  1.1  2.1  3.2  0  1.2
0  45  1  3   10  1    1    3    4  0    1
1  43  2  3    7  1    1    3    4  0    1
2  42  3  2    9  1    1    3    3  0    1
3  36  3  3    8  1    1    3    2  0    1
4  19  4  4    0  1    1    3    3  0    1

## Adicionando colunas

In [3]:
colunas = ["idade", "escolaridade", "escolaridade_marido", "no_filhos", "religiao", "trabalha",
           "ocupacao_marido", "indice_padrao_vida", "exposicao_midia", "contraceptivo"]
df.columns = colunas
df.head()

,idade,escolaridade,escolaridade_marido,no_filhos,religiao,trabalha,ocupacao_marido,indice_padrao_vida,exposicao_midia,contraceptivo
0,45,1,3,10,1,1,3,4,0,1
1,43,2,3,7,1,1,3,4,0,1
2,42,3,2,9,1,1,3,3,0,1
3,36,3,3,8,1,1,3,2,0,1
4,19,4,4,0,1,1,3,3,0,1

# Funções

In [4]:
def calcular_entropia(df, coluna):
    es = 0
    df_aux = df[[coluna, "contraceptivo"]]
    s = list(df[coluna].unique())
    
    contagem = {}
    entropia = {}
    for item in s:
        chave = str(item)

        contagem[chave] = []
        entropia[chave] = 0

        df_item = df_aux[df_aux[coluna] == item]
        for contraceptivo in [1,2,3]:
            contagem[chave].append(len(df_item[df_item["contraceptivo"] == contraceptivo]))
        contagem[chave].append(len(df_item))

    for item in s:
        for i in [0,1,2]:
            fracao = contagem[str(item)][i] / contagem[str(item)][-1]
            entropia[str(item)] -= fracao * math.log2(fracao)

    entropia_coluna = 0
    tamanho_df = len(df)

    for item in s:
        entropia_coluna += (contagem[str(item)][-1] / tamanho_df) * entropia[str(item)]

    return entropia_coluna

In [52]:
def treino_teste(df, porcentagem):
    index = list(range(len(df)))
    porcentagem = int(1/porcentagem)
    
    treino = random.sample(index, (len(df) // porcentagem))
    teste = [i for i in index if i not in treino]

    treino = df.loc[df.index.isin(treino)]
    teste = df.loc[df.index.isin(teste)]

    return treino, teste

In [53]:
# DEVE SER CALCULADO APENAS UMA VEZ
def es(df):
    contraceptivos = list(df["contraceptivo"].unique())
    tamanho_df = len(df)
    valor_es = 0

    for item in contraceptivos:
        fracao = len(df[df["contraceptivo"] == item])/ tamanho_df
        valor_es -= fracao * math.log2(fracao)
    
    return valor_es

In [9]:
sorted(list(df["no_filhos"].unique()))[:5]

[0, 1, 2, 3, 4]

In [10]:
sorted(list(df["no_filhos"].unique()))[5:10]

[5, 6, 7, 8, 9]

In [11]:
sorted(list(df["no_filhos"].unique()))[10:]

[10, 11, 12, 13, 16]

In [75]:
# PASSAR APENAS UMA VEZ OS DADOS NUMÉRICOS PARA CATEGÓRIGOS
def categorizacao(df, colunas):
    for coluna in colunas:
        if coluna == "idade":
            # IREMOS DIVIDIR EM 4 CATEGORIAS
            # df["idade"].describe():
                # min        16.000000
                # 25%        26.000000
                # 50%        32.000000
                # 75%        39.000000
                # max        49.000000
            df[df[coluna] <= 26]["idade"] = ["<=26"]*len(df[df[coluna] <= 26])
            df[df[coluna] > 26][df[coluna] <= 32]["idade"] = ["26...32"]*len(df[df[coluna] > 26][df[coluna] <= 32]["idade"])
            df[df[coluna] > 32][df[coluna] <= 39]["idade"] = ["32...39"]*len(df[df[coluna] > 32][df[coluna] <= 39]["idade"])
            df[df[coluna] > 39]["idade"] = [">39"]*len(df[df[coluna] > 39])

        elif coluna == "no_filhos":
            # EXISTEM 15 QTD DIFERENTES 
            # IREMOS DIVIDIR EM 3 CATEGORIAS
            df[df[coluna] <= 5]["no_filhos"] = ["<=5"]*len(df[df[coluna] <= 5])
            df[df[coluna] > 5][df[coluna] <= 10]["no_filhos"] = ["5...10"]*len(df[df[coluna] > 5][df[coluna] <= 10]["no_filhos"])
            df[df[coluna] > 10]["no_filhos"] = [">10"]*len(df[df[coluna] > 10])
    return df

In [77]:
for coluna in ["idade", "no_filhos"]:
        if coluna == "idade":
            # IREMOS DIVIDIR EM 4 CATEGORIAS
            # df["idade"].describe():
                # min        16.000000
                # 25%        26.000000
                # 50%        32.000000
                # 75%        39.000000
                # max        49.000000
            df[df[coluna] <= 26]["idade"] = ["<=26"]*len(df[df[coluna] <= 26])
            df[df[coluna] > 26][df[coluna] <= 32]["idade"] = ["26...32"]*len(df[df[coluna] > 26][df[coluna] <= 32]["idade"])
            df[df[coluna] > 32][df[coluna] <= 39]["idade"] = ["32...39"]*len(df[df[coluna] > 32][df[coluna] <= 39]["idade"])
            df[df[coluna] > 39]["idade"] = [">39"]*len(df[df[coluna] > 39])

        elif coluna == "no_filhos":
            # EXISTEM 15 QTD DIFERENTES 
            # IREMOS DIVIDIR EM 3 CATEGORIAS
            df[df[coluna] <= 5]["no_filhos"] = ["<=5"]*len(df[df[coluna] <= 5])
            df[df[coluna] > 5][df[coluna] <= 10]["no_filhos"] = ["5...10"]*len(df[df[coluna] > 5][df[coluna] <= 10]["no_filhos"])
            df[df[coluna] > 10]["no_filhos"] = [">10"]*len(df[df[coluna] > 10])

C:\Users\ferna\AppData\Local\Temp\ipykernel_10264\1628368245.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df[coluna] <= 26]["idade"] = ["<=26"]*len(df[df[coluna] <= 26])
C:\Users\ferna\AppData\Local\Temp\ipykernel_10264\1628368245.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df[coluna] > 26][df[coluna] <= 32]["idade"] = ["26...32"]*len(df[df[coluna] > 26][df[coluna] <= 32]["idade"])
C:\Users\ferna\AppData\Local\Temp\ipykernel_10264\1628368245.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df[coluna] > 32][df[coluna] <= 39]["idade"] = ["32...39"]*len(df[df[coluna] > 32][df[coluna] <= 39]["idade"])
C:\Users\ferna\AppData\Local\Temp\ipykernel_10264\1628368245.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df[coluna] > 39]["idade"] = [">39"]*len(df[df[coluna] > 39])
C:\Users\ferna\AppData\Local\Temp\ipykernel_10264\1628368245.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df[coluna] <= 5]["no_filhos"] = ["<=5"]*len(df[df[coluna] <= 5])
C:\Users\ferna\AppData\Local\Temp\ipykernel_10264\1628368245.py:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df[coluna] > 5][df[coluna] <= 10]["no_filhos"] = ["5...10"]*len(df[df[coluna] > 5][df[coluna] <= 10]["no_filhos"])
C:\Users\ferna\AppData\Local\Temp\ipykernel_10264\1628368245.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df[coluna] > 10]["no_filhos"] = [">10"]*len(df[df[coluna] > 10])

In [72]:
df[df["idade"] > 26][df["idade"] <= 32]

C:\Users\ferna\AppData\Local\Temp\ipykernel_10264\2303846720.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["idade"] > 26][df["idade"] <= 32]

,idade,escolaridade,escolaridade_marido,no_filhos,religiao,trabalha,ocupacao_marido,indice_padrao_vida,exposicao_midia,contraceptivo
7,27,2,3,3,1,1,3,4,0,1
26,29,4,4,0,1,0,1,4,0,1
29,31,3,4,2,1,1,1,4,0,1
30,31,4,4,2,1,1,3,2,0,1
38,28,2,2,1,1,1,2,4,0,1
...,...,...,...,...,...,...,...,...,...,...
1456,27,3,3,5,1,1,2,4,0,3
1457,27,2,2,3,1,1,2,2,1,3
1460,27,4,4,4,1,1,1,2,1,3
1462,30,1,3,2,1,1,3,4,0,3
1466,29,4,4,3,1,1,1,4,0,3