# Importando dados

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("../data/cmc.data.csv")
df.head()

   24  2  3  3.1  1  1.1  2.1  3.2  0  1.2
0  45  1  3   10  1    1    3    4  0    1
1  43  2  3    7  1    1    3    4  0    1
2  42  3  2    9  1    1    3    3  0    1
3  36  3  3    8  1    1    3    2  0    1
4  19  4  4    0  1    1    3    3  0    1

## Adicionando colunas

In [6]:
colunas = ["idade", "escolaridade", "escolaridade_marido", "no_filhos", "religiao", "trabalha",
           "ocupação_marido", "indice_padrao_vida", "exposição_midia", "contraceptivo"]
df.columns = colunas
df.head()

,idade,escolaridade,escolaridade_marido,no_filhos,religiao,trabalha,ocupação_marido,indice_padrao_vida,exposição_midia,contraceptivo
0,45,1,3,10,1,1,3,4,0,1
1,43,2,3,7,1,1,3,4,0,1
2,42,3,2,9,1,1,3,3,0,1
3,36,3,3,8,1,1,3,2,0,1
4,19,4,4,0,1,1,3,3,0,1