# Importando dados

In [26]:
import pandas as pd
import math

In [2]:
df = pd.read_csv("../data/cmc.data.csv")
df.head()

   24  2  3  3.1  1  1.1  2.1  3.2  0  1.2
0  45  1  3   10  1    1    3    4  0    1
1  43  2  3    7  1    1    3    4  0    1
2  42  3  2    9  1    1    3    3  0    1
3  36  3  3    8  1    1    3    2  0    1
4  19  4  4    0  1    1    3    3  0    1

## Adicionando colunas

In [3]:
colunas = ["idade", "escolaridade", "escolaridade_marido", "no_filhos", "religiao", "trabalha",
           "ocupacao_marido", "indice_padrao_vida", "exposicao_midia", "contraceptivo"]
df.columns = colunas
df.head()

,idade,escolaridade,escolaridade_marido,no_filhos,religiao,trabalha,ocupacao_marido,indice_padrao_vida,exposicao_midia,contraceptivo
0,45,1,3,10,1,1,3,4,0,1
1,43,2,3,7,1,1,3,4,0,1
2,42,3,2,9,1,1,3,3,0,1
3,36,3,3,8,1,1,3,2,0,1
4,19,4,4,0,1,1,3,3,0,1

In [52]:
def calcular_entropia(df, coluna):
    es = 0
    df_aux = df[[coluna, "contraceptivo"]]
    s = list(df[coluna].unique())
    
    contagem = {}
    entropia = {}
    for item in s:
        chave = str(item)

        contagem[chave] = []
        entropia[chave] = 0

        df_item = df_aux[df_aux[coluna] == item]
        for contraceptivo in [1,2,3]:
            contagem[chave].append(len(df_item[df_item["contraceptivo"] == contraceptivo]))
        contagem[chave].append(len(df_item))

    for item in s:
        for i in [0,1,2]:
            fracao = contagem[str(item)][i] / contagem[str(item)][-1]
            entropia[str(item)] -= fracao * math.log2(fracao)

    entropia_coluna = 0
    tamanho_df = len(df)

    for item in s:
        entropia_coluna += (contagem[str(item)][-1] / tamanho_df) * entropia[str(item)]

    return entropia_coluna

In [53]:
calcular_entropia(df, "escolaridade_marido")

1.4991459451243503

In [54]:
def es(df):
    contraceptivos = list(df["contraceptivo"].unique())
    tamanho_df = len(df)
    valor_es = 0

    for item in contraceptivos:
        fracao = len(df[df["contraceptivo"] == item])/ tamanho_df
        valor_es -= fracao * math.log2(fracao)
    
    return valor_es

In [55]:
valor_es = es(df)
for coluna in ["escolaridade", "escolaridade_marido", "religiao", "trabalha","ocupacao_marido", "indice_padrao_vida", "exposicao_midia"]:
    print(coluna)
    print(valor_es - calcular_entropia(df, coluna))
    print()

escolaridade
0.07074930115838418

escolaridade_marido
0.04009974646405068

religiao
0.009793118915280452

trabalha
0.0026104522512524486

ocupacao_marido
0.03040055157786492

indice_padrao_vida
0.0325348724089185

exposicao_midia
0.015844579810816883

In [57]:
df["no_filhos"].describe()

count    1472.000000
mean        3.261549
std         2.359341
min         0.000000
25%         1.000000
50%         3.000000
75%         4.250000
max        16.000000
Name: no_filhos, dtype: float64

In [64]:
sorted(list(df["no_filhos"].unique()))[:5]

[0, 1, 2, 3, 4]

In [66]:
sorted(list(df["no_filhos"].unique()))[5:10]

[5, 6, 7, 8, 9]

In [67]:
sorted(list(df["no_filhos"].unique()))[10:]

[10, 11, 12, 13, 16]

In [68]:
len(list(df["no_filhos"].unique()))

15